.border-ambiance {
	padding:10px;
	border: 1px solid #AEAEAE;
}

.see-ambiance-header {
	width: 250px;
	height: 150px;
	background-color: rgba(204, 204, 204, 0.6);
	text-align: left;
	padding-left: 10px;
	margin-left : 50%;
	margin-top: 30%;
	font-weight: bold;
	z-index: 2;
	position: absolute;
}

.see-ambiance-header h2 {
	text-transform: uppercase;
}

.click-to-see-ambiance-header {
	width: 138px;
	height: 28px;
	background-color: #000000;
	color: #ffffff;
	padding-top:5px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
}

.padding-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.padding-sub {
	margin-top: 10px;
	margin-bottom: 10px;
}

.see-ambiance-sub {
	width: 230px;
	height: 150px;
	background-color: rgba(204, 204, 204, 0.6);
	text-align: left;
	padding-left: 10px;
	margin-left : 45%;
	margin-top: 30%;
	font-weight: bold;
	z-index: 2;
	position: absolute;
}

.see-ambiance-sub h2 {
	text-transform: uppercase;
}

.click-to-see-ambiance-sub {
	width: 138px;
	height: 28px;
	background-color: #000000;
	color: #ffffff;
	padding-top:5px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
}

.fiche-ambiance .bloc-images{
    position: absolute;
}


.fiche-ambiance .bloc-images .item img{
    width: 100%;
    height: auto;
}

.center-carousel {

}

/* Ceci est le carousel des images fiche ambiance*/

#myCarousel-ambiance .carousel-indicators {
    bottom: 0;
    left: 10px;
    margin-left: 5px;
    width: 100%;
}
#myCarousel-ambiance .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 50px;
}
#myCarousel-ambiance .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 50px;
    left: 0;
    width: 50px;
}
#myCarousel-ambiance .carousel-indicators .active img {
    border: 2px solid #39b3d7;
}