.img-products {
	max-width: 100%;
}

.showborder {
	border : 0px solid #00ff00;
}

.padding-product {
	padding:20px;
}

.center-content {
	text-align: center;
}

.related-product {

}

.selected-product {
	
}