/*CSS FILES */
@import url(elements/nav.css);
@import url(elements/product.css);
@import url(fiche-produit.css);
@import url(ambiances.css);





.homepage,
.page{
    font-family: 'Quicksand', sans-serif;
    font-size : 13px;
}

.homepage-content{
    position: relative;
    top: 0;
}


a{
    color: black;
    text-transform: uppercase;
}



/* END TITILE & SUBTITLE */


/* BEGIN ELEMENTS */



.product-thumbnail-image {
    width: 100%;
    /*height: 263px;*/
    background-size: cover;
    background-position: center center;
}

/* END ELEMENTS */


/* BEGIN HOMEPAGE*/

    /* SLIDER */
    .slider-hp img{
        width: 100%;
        height: auto;
    }
    .slider-hp{
        overflow: hidden;
    }

    .slider-hp img {
        cursor: pointer;
    }
    /* END SLIDER*/

    /* BLOC NOUVEAUTES */
    .nouveautes{
        position: relative;
    }

    .nouveautes h1.title{
        transform: rotate(-90deg);
        margin: 0;
        padding: 0;
        left: 0;
        top: 63px;
        position: absolute;
    }

    /* END BLOC NOUVEAUTES */

    /* BLOC AMBIANCES HOMEPAGE */
    .ambiance {
        min-height: 400px;
        background-color: #eeeeee;
        padding: 20px 0;
    }

    .ambiance img {
        width: 100%;
    }

    hr{
        width: 10%;
        border-top-color: black;
    }

    .ambiance3 {
        margin-top: 18px;
    }

    h3.show-ambiances {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        padding: 20px 0;
    }

    h3.show-ambiances:after {
        content: "\f054";
        font-family: FontAwesome;
        font-size: 18px;
        position: absolute;
        padding-left: 5px;
        padding-top: 2px;
    }

    .ambiance-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 5px;
    }

    .ambiance-content .ambiance-text{
        position: absolute;
        top: 20px;
        width: 400px;
        left: 20px;
    }

    .ambiance-content .ambiance-text .ambiance-name {
        text-transform: uppercase;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .ambiance-content .ambiance-text .ambiance-desc {
        padding-bottom: 10px;
        font-size: 13px;
    }


    /* END BLOC AMBIANCES HOMEPAGE */

    /* BLOC ENGAGEMENTS */
    .engagement.row {
        color: white;
        background: #000000;
        padding: 40px 0;
        text-align: center;
        position: relative;
    }

    .engagement p{
        font-size: 13px;
    }
    /* END BLOC ENGAGEMENT */


    /* BLOC OPPORTUNITES HOMEPAGE */

    .opportunity h1.title,
    .opportunity h3.sub-title{
        text-align: left;
    }
    .opportunity{
        min-height: 600px;
        position: relative;
        cursor: pointer;
    }

    .opportunity .container {
        padding: 40px 0;
        position: relative;
        height:600px;
    }

    .opportunity-content {
        position: absolute;
        bottom: 100px;
        width:100%;
    }

    .opportunity .opportunity-content p {
        font-size: 18px;
    }
    .opportunity .opp-image{
        width: 100%;
        position: absolute;
        height: 600px;
        z-index: -1;
        overflow: hidden;
    }

    .opportunity .opportunity-img{
        width:100%;
        height:auto;
    }
    .opportunity .hdg-button-default {
        display: block;
        margin: auto;
        float: right;
    }
    .opportunity h3.sub-title {
        font-size: 18px;
    }
    .opportunity span{
        font-size: 16px;
        text-transform: uppercase;
        padding-right: 20px;
    }
    /* END BLOC OPPORTUNITES HOMEPAGE */

    /* BLOC ACTUALITES HOMEPAGE */
    .actualites {
        padding: 40px 0 ;
    }
    .actualites .thumbnail{
        padding: 0;
        border: 0;
    }
    .actualites .thumbnail h3.news-title{
        font-size: 16px;
        text-transform: uppercase;
        min-height: 45px;
    }
    .actualites a.news-show{
        text-transform: none;
        float: right;
        text-decoration: underline;
    }
    .actualites .thumbnail .caption {
        padding-right: 0;
        padding-left: 0;
    }

    .actualites .image-news img {
        max-width: 100%;
    }
    .actualites .image-news {
        height: 200px;
        width: 100%;
        overflow: hidden;
    }
    /* END BLOC ACTUALITES HOMEPAGE */

/* END HOMEPAGE */






















/* DEFAULT LAYOUT */
.page .navbar-nav>li>.dropdown-menu.affix-top{
    background-color: #000000;
}

.page .navbar-inverse{
    background-color: #000000;
    border-color: #000000;
}



.main-content{
    padding-top: 40px;
}

.image-categorie a {
    padding: 0 !important;
}

/*FIN DEFAULT LAYOUT*/


/* BEGIN PRODUCT LIST CSS */

h3.product-title-list{
    font-size: 16px; 
    margin: 5px 0;
}
/* FIN PRODUCT LIST CSS */





/* BEGIN FICHE PRODUIT */
h1.product-title{
    font-size: 24px;
    text-transform: uppercase;
}


h2.product-title{
    font-size: 24px;
    text-transform: uppercase;
}

.fiche-produit .bloc-images{
    position: absolute;
}


.fiche-produit .bloc-images .item img{
    width: 100%;
    max-height:auto;
}

.fiche-produit .product-price{
    font-size: 18px;
}

.fiche-produit a.add-to-wishlist {
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
}

h3.related-product-title,
h3.selected-product-title,
h3.comment-product-title{
 padding-right: 15px;
 padding-left: 15px;
 text-transform: uppercase;
 font-size: 18px;
}

h4.review-title{
    font-size: 16px;
    font-weight: 600;
}
.fiche-produit .product-images{
    position: relative;
    width:50%;
    float: left;
    overflow: hidden;
    top:0px;
}

.product-description{
    float: right;
    width:50%;
    position: relative;
    top: 50px;
    padding: 0 50px;
}

.product-bottom {
    background-color: white;
    top: 500px;
    position: relative;
}
.row.fiche-produit {
    height: 500px;
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
}

#fiche-produit .breadcrumb{
    z-index: 1;
    background-color: transparent;
}

.carousel-control-comment.left, 
.carousel-control-comment.right{

}

.product-bottom {
    background-color: white;
    box-shadow: inset 0 21px 50px rgba(0,0,0,.075),0 0 30px rgba(0,0,0,.6);
    -webkit-box-shadow: inset 0 21px 50px rgba(0,0,0,.075),0 0 30px rgba(0,0,0,.6);
}

.avis-slider .button-right,
.avis-slider .button-left{
    position: absolute;
    right: 0;
    top: 0;
}
.avis-slider .button-left{
    right:15px;
}

.produit-options .item img {
    width: 30px;
    height: auto;
}

.produit-options {
    margin-bottom: 10px;
}
/* END FICHE PRODUIT */



/* LISTE PRODUIT */

.creation {
    padding-top: 50px;
}

.img-creation{
    height: auto; width: 100%;
}

.liste-creation.breadcrumb {
    top: 0px;
    position: relative;
    background-color: #000000;
    color: white;
}

.liste-creation a{
    margin-left: 40px;
    height: 50px;
    background-color: #000000;
    color: white;
}

.liste-creation a:hover{
    color: #ffffff;
}

.liste-creation > li + li::before {
    content: none;  
}

#newsletter-bloc::after {
    content: none;
    clear: none;
}

#newsletter-bloc:after {
    content: none;
}

#newsletter-bloc::before {
    content: none;
    clear: none;
}

#newsletter-bloc {
    min-heigth: 345px;
}

/* FIN LISTE PRODUIT */


/* PAGE DE CONNEXION + PAGE DE CREATION COMPTE (HORS CHECKOUT) */

.nav-checkout > li:after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 77px;
    position: absolute;
    padding-left: 44px;
    padding-top: 2px;
    color: white;
    top: -33px;
    right:-20px;
}

.nav-checkout > li:last-child:after {
    content: "";
}


#login .main-content,
#create-account .main-content{
    padding-top: 0;
}

#login header.header,
#create-account header.header {
    padding: 20px 0 10px;
}

#login .engagement,
#create-account .engagement {
    display: none;
}

#login .title-content-login h1,
#create-account .title-content-create-account h1{
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-top: 0;
}

#login .login-page,
#create-account .create-account-page{
    border: 1px solid black;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

#login .login-form label,
#create-account .create-account-form label{
    display: block;
    width: 300px;
    margin: auto;
    text-align: left;
    padding-bottom: 5px;
}


#login span.divider-or {
    display: inline-block;
    position: relative;
}

#login span.divider-or:before, span.divider-or:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
    top: 8px;
   
    width: 100px;
}
#login span.divider-or:before {
    right: 100%;
    margin-right: 15px;
}

#login span.divider-or:after {
    left: 100%;
    margin-left: 15px;
}

#login .social-account-content,
#login .login-content,
#login .create-account-content,
#create-account .create-account-content,
#create-account .social-account-content{
    padding: 25px 0;
}

#create-account .social-account-content{
    padding: 25px 0 0;
}

#create-account p.cgv{
    padding-top: 50px;
}

form.create-account-form input[type=radio],
form.create-account-form input[type=checkbox]{
    width: 15px !important;
}
form.login-form input,
form.create-account-form input {
    width: 300px;
    margin:auto;
}

hr.divider {
    width: 80%;
    /* border-color: #ccc; */
}

#login .create-account-content a,
#create-account .login-content a,
#create-account .cgv a,
#create-account .email-account a{
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
}

#create-account .social-icon a{
    cursor: pointer;
}

.bloc-civilite {
    display: inline-block;
}

.label-civilite{
    display: block;
}

#login .header-logo,
#create-account .header-logo {
    max-width: 700px;
    margin: auto;
}
/* FIN PAGE DE CONNEXION (NON CHECKOUT) */

/* BEGIN MON COMPTE PAGE */

#moncompte .engagement {
    display: none;
}

#moncompte .social-bottom{
    border-top: 1px solid black;
    margin-top: 50px;
}

.entete-page img{
    width: 100%;
    height: auto;
}

.logout h1.page-title,
.moncompte h1.page-title,
.panier h1.page-title,
.page-static h1.page-title{
    position: relative;
    top: -46px;
    font-size: 24px;
    padding: 10px 50px;
    background-color: #dddddd;
    margin: 0;
    width: 255px;
}

.moncompte ul.mon-compte-nav {
    margin-top: 30px;
}

.moncompte ul.mon-compte-nav li{
    float: none;
}

.moncompte ul.mon-compte-nav li a {
    border-width: 1px;
    border-color: black;
    border-radius: 0;
    padding-left: 45px;
}

ul.mon-compte-nav>li.active>a, 
ul.mon-compte-nav>li.active>a:focus, 
ul.mon-compte-nav>li.active>a:hover{
    background-color: black;
    border-color: black;
    color: white
}

ul.mon-compte-nav>li i{
    position: absolute;
    left: 20px;
    font-size: 16px;
}
a.logout{
    text-transform: none;
}

h3.title-content-compte {
    font-size: 16px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 10px 15px;
}


p.date-commande{
    float: right;
}
p.etat-commande,
p.date-commande{
    font-style: italic;
    display: inline;
}

.infos-link,
h4.sub-title-content-commande.col-md-9{
    margin: 0;
    padding: 0;
}

.infos-link a{
    color: #6aa84f;
    text-decoration: underline;
    text-transform: none;
    float: right;
}


.commande-infos .top-content,
.livraison-infos .top-content,
.paiement-infos .top-content {
    margin: 15px 0;
}

    /* Détails commande */

        /* Informations produit commande */

        .produit-commandes img {
            max-width: 100%;
        }

        h4.title-produit {
            font-size: 13px;
            font-weight: 600;
        }
        p.options, p.qte, p.price {
            margin: 0;
        }

        .produit-commandes {
            background-color: #eeeeee;
            padding: 15px;
        }
        .produit-commandes .pagination li>a {
            border-radius: 0;
            color: black;
        }
        .produit-commandes .pagination{
            margin: 20px 0 0;
        }
        /* Fin informations produit commande */


        /* Recap */
        .recap-infos table.table {
            text-align: right;
        }

        .recap-infos .table>tbody>tr:not(.last)>td{
            border: none;
            padding: 0 8px;
        }

        .recap-infos .table>tbody>tr:nth-child(4)>td{
            padding-bottom: 8px;
        }

        .recap-commande,
        .livraison-infos {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid black;
        }

        /* fin recap */



        .paiement-info{
            padding-bottom: 50px;
        }
        .mode-paiement .mode,
        .mode-paiement .price{
            font-weight: bold;
        }
        /* Paiement infos */



        /* Fin paiement infos */

    /* FIn détails commande */



    /* Onglet adresses */
        
    a.update-adresse {
        float: right;
        text-transform: none;
        text-decoration: underline;
    }

    span.remove-adresse a {
        color: white;
        float: right;
    }

    a.add-adresse{
        text-transform: none;
        text-align: right;
        margin: 0;

    }

    #adresses .top-content{
        margin: 30px 0 40px;
    }

    #adresses .top-content h4,
    #adresses a.add-adresse{
        margin: 0;
        padding: 0;
    }

    /* Fin onglet adresses */

    /* Ongle informations perso */
    .form-personal-infos label{
        display: block;
    }

    .form-personal-infos input{
        min-width: 300px;
    }
    .form-personal-infos {
        padding: 30px;
        border: 1px solid black;
    }
    .form-personal-infos input#submit{
        min-width: auto;
    }
    .form-personal-infos .submit-button{
        text-align: right;
    }
    .personal-infos{margin-top: 18px;}
    /* fin onglet infos perso */

    /* WISHLIST */
    .wishlist{
        padding: 15px;
        border: 1px solid black;
        
    }

    .wishlist img{
        max-width: 100%;
    }

    .wishlist > .row{
        margin-top: 20px;
    }

    .footer-wishlist {
        padding: 10px 15px;
        background-color: black;
        margin-bottom: 20px;
    }
    .footer-wishlist a{
        color: white;
        text-transform: none;
        text-align: right;
        display: block;
    }
    /* FIN WISHLIST */

/* FIN MON COMPTE PAGE */

/* BEGIN SOCIAL */
.social .social-icon{
    display: inline-block;
    text-align: center;
    padding-right: 15px;
}
.social i{
    font-size: 24px;
}

.social .social-icon.fb a{
    color: #043861;
}

.social .social-icon.twitter a{
    color: #307be1;
}

.social .social-icon.google-plus a{
    color: #ca0814;
}

.social .social-icon.instagram a{
    color: #77400b;
}

.social .social-icon.pinterest a{
    color: #cd2c2f;
}

.social .social-icon.youtube a{
    color: #650205;
}

.social .social-icon a{
    font-size: 13px;
    text-transform: none;
    text-align: center;
}

.social .social-icon a:hover{
    text-decoration: none;
}

.social {
    display: block;
    padding-top: 20px;
}
/*END SOCIAL*/



/********************************************************
******************** BEGIN BOTTOM ***********************
********************************************************/
    
    /* SOCIAL BOTTOM */
    .social-bottom {
        padding: 25px 0 50px 0;
        position: relative;
        background-color: white;
    }

    h3.social-bottom-title{
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    .social-bottom .social .social-icon a>i{
        font-size: 30px;
    }

    .social-bottom .social {
        text-align: center;
        margin-top: 50px;
    }

    .social-bottom .social .social-icon{
        padding-right: 30px;
    }

    /* END SOCIAL BOTTOM */

    /* FOOTER */

    footer.footer {
        padding: 30px 0 0 0;
        border-top: 1px solid black;
        background-color: white;
        position: relative;
    }

    .top-footer {
        padding-bottom: 30px;
    }

    .mentions {
        background: #000000;
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mentions a {
        font-size: 13px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .mentions a:hover {
        text-decoration: underline;
        color: white;
    }

    .bloc-footer {
        font-size: 13px;
    }

    .bloc-footer a  {
        font-size: 13px;
        height: auto;
        text-decoration: none;
        color: #000000;
        margin-bottom: 100px;
        text-transform: uppercase;
    }

    .bloc-footer a:hover  {
        text-decoration: underline;
        color: #000000;
    }

    .title-footer {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        margin-top: 0;
    }

    .title-footer-big {
        font-size: 24px;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
    }

    .social-icons {
        height: 70px;
    }

    /* END FOOTER */


    
/********************************************************
******************** END BOTTOM *************************
********************************************************/


/********************************************************
******************** BEGIN Panier **********************
********************************************************/

#panier .main-content{
    padding-top:50px;
}

.panier .achat{display:inline-block; color:#000;}

.top-panier,
.bottom-panier{
    margin: 30px 0;
}
.panier .table>thead>tr>th{
    border-bottom:0;
    font-weight:normal;
}

.top-panier a.link,
.bottom-panier a.link{
    text-decoration: none;
}

.panier .table.table-striped thead{background-color:#000; color:#fff;}
.panier .securise{display:inline-block; width: 146px;height:26px; background-color:#000; color:#fff;float:right; text-align:center;padding: 5px 6px 5px 6px; text-transform:uppercase;font-size: 11px;}
.panier .bloc-img{display:inline-block; max-width: 100%; height: auto;}
.panier .bloc-text{display:inline-block;position:relative;top: 10px;left: 30px;}
.panier .bloc-text p{font-weight:bold;}
.panier .bloc-text span{line-height:0px;}
.panier .achat .link{text-transform:lowercase;}

.panier .mini-img{
    height: 110px;
    width:110px;
    overflow: hidden;    
    border: 1px solid;
    display: inline-block;
}
.panier .left-content > div {
    vertical-align: top;
}

.panier a{
    text-transform: none;
    text-decoration: underline;
}

.panier .bloc-text span {
    margin-top: 10px;
    display: inline-block;
}

.panier p.button-update {
    margin-top: 10px;
}

.panier .middle-content,
.panier .right-content {
    padding-top: 15px;
}

.panier .table>thead:first-child>tr:first-child>th:last-child {
    text-align: right;
}

/********************************************************
******************** END Panier *************************
********************************************************/


/********************************************************
******************** BEGIN CHECKOUT **********************
********************************************************/
    
    /* NAV CHECKOUT */
    .nav-checkout {
        background-color: #000000;
        color: #999999;
        text-transform: uppercase;
    }

    .nav-checkout .active {
        color: #ffffff;
    }

    .nav-checkout li {
       text-align: center;
       padding: 10px;
       font-weight: bold;
    }
    /* END NAV CHECKOUT */

#checkout-identification .main-container{
    padding: 0;
}  

#checkout-identification header.header{
    padding: 40px 0;
}

.checkout-panel{
    border: 1px solid #000000;
    border-width: 0 1px 1px 1px;
    margin-bottom: 40px;
}

.checkout-panel .social{
    text-align: center;
}

.checkout-panel .checkout-left-content{
    padding: 0 50px;
    border-right: 1px solid black;
}

.checkout-panel p.cgv {
    margin-top: 30px;
}

.checkout-panel hr.divider{
    width: 100%;
}

.checkout-content-panel{
    padding: 20px;
}

.title-checkout-panel h3{
    font-size: 20px;
}

.title-checkout-panel a,
.cgv a{
    font-size: 14px;
    text-decoration: underline;
    text-transform: none;
    cursor: pointer;
}

.login-form label{
    display: block;
    margin: auto;
    text-align: left;
    padding-bottom: 5px;
}


.checkout-panel form.login-form input, 
.checkout-panel form.create-account-form input{
    width: 100%;
    margin:auto;
}

.checkout-panel form.create-account-form {
    margin-top: 25px;
}

.left-border {
    border-left: 1px solid #000000;
}



.right-content {
    text-align: right;
}


    /*Adresses*/
    p.checkbox-facturation{
        margin: 20px 0;
    }

    a.add-new-adresse,
    a.back-to-panier{
        text-transform: none;
        text-decoration: underline;
    }
    .recap-panier img{
        max-width: 100%;
    }
    .product-recap-panier{
        margin: 5px 0;
    }
    .bloc-recap-panier{
        height: 281px;
        overflow-y: scroll;
        border-bottom: 1px solid black;
    }
    .product-recap-panier h4{
        margin: 5px 0;
    }
    .checkout-right-content.recap-panier {
        padding-bottom: 20px;
        border-left: 1px solid black;
        margin-left: -1px;
    }
    .recap-panier .recap-infos {
        border: 1px solid black;
        padding: 10px;
        margin-top: 5px;
    }
    .recap-panier .table{
        margin: 0;
    }

    .checkout-footer{
        margin-bottom: 50px;
    }
    .checkout-footer a.next-step{
        float: right;
    }
    .select-facturation{
        margin-bottom: 20px
    }
    /*end adresse*/


    /*livraison*/
    ul.mode-livraison{
        padding-left: 20px;
    }
    ul.mode-livraison>.row{
        margin-top: 25px;
    }
    ul.mode-livraison li {
        padding: 15px;
        border: 1px solid black;
        list-style: none;
        display: inline-block;
        width: 90%;
        vertical-align: middle;
        margin-left: 10px;
    }
    ul.mode-livraison input[type="checkbox"] {
        display: inline-block;
        vertical-align: middle;
    }
    ul.mode-livraison img{
        max-width: 100%;
    }
    /* end livraison */

/********************************************************
******************** END CHECKOUT **********************
********************************************************/

/* Page Logout */
.logout{
    margin-bottom:30px;
}

/********************************************************
******************** RESPONSIVE *************************
********************************************************/
    /* ECRANS TABLETTE & MOBILE */
    @media screen and (max-width: 991px){
        /* Page produit */
        .fiche-produit .product-images{
            width: 100%;
            top: -24px;
        }
        .row.fiche-produit{
            position: relative;
            margin: 0;
        }
        .product-description {
            width: 100%;
            top: auto;
            padding: 20px 50px;
            z-index: 1;
            margin-bottom: 5%;
            border-bottom: 1px solid;
        }

        .product-bottom {
            top: auto !important;
        }

    }

    /* ECRANS MOBILE */
    @media screen and (max-width: 767px){

        /* MENU */
        .navbar-fixed-bottom .navbar-collapse, 
        .navbar-fixed-top .navbar-collapse{
            height: 100%;
            overflow-y: scroll;
        }
        .navbar-nav>li>.dropdown-menu.affix-top,
        .navbar-nav>li>.dropdown-menu.affix{
            background-color: transparent;
        }
        .navbar-nav>li>.dropdown-menu{
            min-height: auto;
            min-width: auto;
            padding: 0;
            left: 0;
            position : static!important;
        }
        .navbar-nav .open .dropdown-menu .dropdown-header, 
        .navbar-nav .open .dropdown-menu>li>a {
            padding: 5px 15px 5px 0;
        }
        .navbar-inverse .navbar-toggle{
            border-color: transparent;
        }
        .navbar-inverse .navbar-toggle:focus, 
        .navbar-inverse .navbar-toggle:hover{
            background-color: transparent;
        }

        .navbar-inverse .navbar-toggle:hover .icon-bar{
            background-color: #eeeeee;
        }
        .navbar-nav>li>.dropdown-menu a {
            position: relative;
            display: block;
            padding: 15px 10px;
        }
        .nav>li{
            border-bottom: 1px solid white;
        }
        .navbar-inverse .navbar-collapse, 
        .navbar-inverse .navbar-form{
            border-color: transparent;
        }
        /* END MENU */
        /* FOOTER */
        .bloc-footer {
            padding-bottom: 20px;
        }


        /* Checkout */
        .nav-checkout > li:after {
            content: "";
        }

        /* Liste sous-catégories sur la page catégorie */
        .liste-creation li {
            display: block;
        }
    }
    /* END ECRANS MOBILE*/

    /* ECRANS TABLETTE */
    @media screen and (min-width: 786px) and (max-width: 992px){
        /* MENU */
        .navbar-nav>li>.dropdown-menu{
            min-height: 282px;
        }
        .dropdown-menu li.image-categorie img{
            height: 100px;
            width: auto;
            margin: auto;
        }
        .dropdown-menu li.image-categorie{
            padding: 10px 0 0 0;
        }
        .dropdown-menu{
            min-width: 500px !important;
        }
        /* END MENU */
    }
    /* FIN ECRANS TABLETTE */

    /* ECRANS DESKTOP */

    @media screen and (min-width: 993px) and (max-width: 1199px){
        /* MENU */
        .dropdown-menu{
            min-width: 660px !important ;
        }
        /* END MENU */
    }

    /* FIN ECRANS DESKTOP */

/********************************************************
******************** END RESPONSIVE *********************
********************************************************/
