/* CSS FILES */
@import url(elements/nav.css);
@import url(elements/footer.css);
@import url(elements/engagement.css);



/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

p{font-size: 13px;}

.homepage{
    font-family: 'Quicksand', sans-serif;
    foont-size : 13px;
}

.homepage-content{
    position: relative;
    top: 50px;
}
/* SLIDER */
.slider-hp img{
    width: 100%;
    height: auto;
}
/* END SLIDER*/


/* TITILE & SUBTITLE */

h1.title{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}
h3.sub-title{
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px;
}


/* END TITILE & SUBTITLE */

/*NAVBAR*/
a.navbar-brand.header-logo {
    padding: 6px;
}

.homepage nav.navbar.navbar-inverse.navbar-fixed-top{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
    transition: all .5s ease .25s;
}
#nav.affix {
    background-color: black;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*END NAVBAR*/
h3.small-title {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
}

