.mentions {
	background: #000000;
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.mentions a {
	font-size: 13px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.mentions a:hover {
	text-decoration: underline;
	color: white;
}

.spacer {
	margin-top: 40px;
}

.bottom{
	border-bottom: 2px solid #000000;
}

.reseaux {
	height: 100px;
	text-align: center;
}

.reseaux p{
	font-size: 13px;
}

.reseaux i{
	font-size: 38px;
}

.aPropos a  {
	font-size: 13px;
	height: auto;
	text-decoration: none;
	color: #000000;
	margin-bottom: 100px;
	text-transform: uppercase;
}

.aPropos a:hover  {
	text-decoration: underline;
	color: #000000;
}

.titleFooter {
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
}

.titleFooterBig {
	font-size: 28px;
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
}