
nav.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    }

nav.navbar-inverse .navbar-nav>.active>a, nav.navbar-inverse .navbar-nav>.active>a:focus, nav.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}


/*--------------------- MENU 1----------------------- */

.dropdown-menu{
	min-width:650px;

}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-transform: uppercase;
}

.navbar-nav>li>.dropdown-menu{border:0;}
.navbar-nav>li>.dropdown-menu a{ color:#fff;}

.dropdown-header {
    display: block;
    padding: 3px 0px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    font-weight:700;
}

.sous-dropdown-header {

  font-size: 13px;

}

.image-nav{ width:100%; display:none;
}


/*--------------------- MENU 2----------------------- */


/*.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 15px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}*/